
     
    
<!-- 
       <button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP01Q42020"  placement="top"
ngbTooltip="btn btn-primary-gradien btn-pill btn-air-success">Primary Button</button> -->
   <!-- <img src="{{groceryItem.downloadURL}}"
       class="img" width="500" height="500">     -->
      
      
      <!-- <a href="{{q42020Item.downloadURL}}"  (click)="download()">Download</a> -->

       <!-- <input type="button" (click)="download()" value="Download Employee Data"/>
       <a [href]="groceryItem.downloadURL | async">{{ groceryItem.downloadURL | async }} </a>

     -->
  <!-- </li>      -->

       
       
  <!-- <div *ngIf="afAuth.user | async as user"> -->

    <!-- <li *ngFor="let q42020Item of q42020Items | async">  -->
        <!-- <a [routerLink]="['/image', img.id]">     -->
            
       <!-- <img src="{{groceryItem.downloadURL}}"
           class="img" width="500" height="500">     -->
          
          
          <!-- <a href="{{groceryItem.downloadURL}}"  (click)="download()">Download</a> -->
           <!-- <input type="button" (click)="download()" value="Download Employee Data"/>
           <a [href]="groceryItem.downloadURL | async">{{ groceryItem.downloadURL | async }} </a>
    
         -->
      <p>test</p>