
  <!-- <div *ngIf="afAuth.user | async as user">

<li *ngFor="let newsletterItem of newsletterItems | async">  -->
    <!-- <a [routerLink]="['/image', img.id]">    
        <img src="assets/images/newsletter.jpg" 
       class="img" width="400" height="500" href="#" >    
       <img src="assets/images/newsletter.jpg" 
       class="img" width="400" height="500" href="#" >     -->
       <!-- <a href="#" download="{{newsletterItem.downloadURL}}"> Download Image </a> -->
   <!-- <img src="{{groceryItem.downloadURL}}"
       class="img" width="500" height="500">     -->
      
      
      <!-- <a href="{{groceryItem.downloadURL}}"  (click)="download()">Download</a> -->
       <!-- <input type="button" (click)="download()" value="Download Employee Data"/>
       <a [href]="groceryItem.downloadURL | async">{{ groceryItem.downloadURL | async }} </a>

     -->


          <!-- <a [routerLink]="['/image', img.id]">    
              <img src="assets/images/newsletter.jpg" 
             class="img" width="400" height="500" href="#" >    
             <button class="btn btn-outline-primary  btn-pill btn-xs" type="button" ><a href="#" download="assets/images/newsletter.jpg">  Download</a></button>
          <img src="{{groceryItem.downloadURL}}"
             class="img" width="500" height="500">     -->
            
             <!-- <img src="assets/images/lpnewspage2.jpg" 
             class="img" width="400" height="500" href="#" >    
             <button class="btn btn-outline-primary  btn-pill btn-xs" type="button" ><a href="#" download="assets/images/newsletter.jpg">  Download</a></button> -->
            <!-- <a href="{{groceryItem.downloadURL}}"  (click)="download()">Download</a> -->
             <!-- <input type="button" (click)="download()" value="Download Employee Data"/>
             <a [href]="groceryItem.downloadURL | async">{{ groceryItem.downloadURL | async }} </a>
      
           -->
           <!-- <br>
           <br>
        
           <img src="assets/images/lpnewspage3.jpg" 
           class="img" width="400" height="500" href="#" >    
           <button class="btn btn-outline-primary  btn-pill btn-xs" type="button" ><a href="#" download="assets/images/newsletter.jpg">  Download</a></button>

           <img src="assets/images/lpnews4.jpg" 
           class="img" width="400" height="500" href="#" >    
           <button class="btn btn-outline-primary  btn-pill btn-xs" type="button" ><a href="#" download="assets/images/newsletter.jpg">  Download</a></button> -->
        
  <!-- </li>     -->

<!--  -->
<!-- 
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xl-6">
        <div class="card">
          <div class="card-header">
            <h5>User Guide</h5>
          </div>
          <div class="card-body">
            <ngb-carousel *ngIf="images">
              <ng-template ngbSlide>
                <img src="assets/images/newsletter.jpg" >
              
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/newsletter.jpg" >
              
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/newsletter.jpg" >
  
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div> -->


          <!-- Completed items display here -->
          <!-- <div *ngFor="let post of posts | async"> -->
            <!-- <div class="item" *ngIf="post.limitedpartners == currentUser.id && post.categories == 'ypMNfumMbJCVtt3DmSOl'"> -->
              <div class="item" >
                <!-- <a href="{{post.downloadURL}}">Download</a>  -->

                <!-- <div *ngIf="!post.edit" class="post-container completed"> -->
                  <!-- <p class="post-paragraph">{{post.post}}</p> -->
                  <!-- <p class="post-info">Posted by: {{post.name}} on {{post.date}}</p>
                  <button class="btn btn-outline-primary  btn-pill btn-xs" type="button"> <a href="#" download="{{post.downloadURL}}">  Download</a></button> -->
                  <!-- {{post.content}} -->
                  <div class="button-container complete-btns">

                  <img src="assets/images/logo7.png"
                  class="img" width="400" height="500" href="#" >    
                  <!-- <a href="{{post.downloadURL}}>">View Document</a>                    <button class="btn btn-info undo-complete" (click)="toggleComplete(post)">Undo</button>  -->
                  <button class="new"><a href="https://firebasestorage.googleapis.com/v0/b/dalpha01-24590.appspot.com/o/2020.06.27%20--%20Digital%20Alpha%20June%202020%20LP%20Newsletter_Final%20%20-%20%20Read-Only.pdf?alt=media&token=5bb5885e-fba0-4723-a44e-9502637e1aa0">View Document</a></button> 
</div>
                  <!-- {{post.downloadURL}}
                  {{post.url}}
                  {{post.title}}
                  {{post.image}} -->
                  <!-- <img *ngIf="posts.image.url  | async as imageSource"
  [src]="imageSource"> -->
  <!-- <a [href]="post.image.url">test</a> -->
  <hr>
                  <!-- <div class="button-container complete-btns">
                    <button class="btn btn-info undo-complete" (click)="toggleComplete(post)">Undo</button> 
                    <button class="btn btn-danger delete-complete" (click)="delete(post.id)">Delete</button>
                </div> -->
            <!-- </div> -->
    
